$border-width: 2px;
$box-height: 15vh;
$mint: #d8f5e8;
$teal: #2accc3;
$gold: #ffbc17;
$tomato: #ff623f;

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;

  @include border-box;
}
$breakpoint-mobile: 450px;
@media (max-width: $breakpoint-mobile) {
  .top-bar {
    padding: 10px;
    margin: 10px;
  }
  .mint {
    border: $border-width dotted red;
    height: $box-height;
    background-color: $mint;
  }
  .teal {
    @extend .mint;
    background-color: $teal;
  }
  .gold {
    @extend .mint;
    background-color: $gold;
  }
  .tomato {
    @extend .mint;
    background-color: $tomato;
  }
  ul {
    list-style: none;
    font-weight: bold;
  }
  .list-right {
    text-align: right;
    font-weight: normal;
  }
}
$breakpoint-tablet: 720px;
@media (min-width: $breakpoint-tablet) {
  .mint2 {
    border: $border-width dotted red;
    height: $box-height;
    background-color: $mint;
  }
  .teal {
    @extend .mint2;
    background: $teal;
  }
  .gold {
    @extend .mint2;
    background-color: $gold;
  }
  .tomato {
    @extend .mint2;
    background-color: $tomato;
  }
  ul {
    list-style: none;
    font-weight: bold;
  }
  .list-right {
    text-align: right;
    font-weight: normal;
  }
}
